# Default ignored files
/../../whatsapp chat anaylsis /.idea/shelf/
/../../whatsapp chat anaylsis /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../whatsapp chat anaylsis /.idea/httpRequests/
# Datasource local storage ignored files
/../../whatsapp chat anaylsis /.idea/dataSources/
/../../whatsapp chat anaylsis /.idea/dataSources.local.xml
